.program {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}
.message {
  font-size: 0.8rem;
  font-family: 'Open Sans';
}
.information{
  
    display: flex;
    justify-content:center;
    align-items: flex-start;
}
.data{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}