.list {
  display: flex;
  flex-direction: column;
  width: 45rem;
  border-spacing: 1rem;

  margin-top: -0.5rem;
}


@media (max-width: 768px) {
.list{
  width: 40rem;
  
}

}

@media (max-width: 425px) {
  .list{
    width: 28rem;
    margin-right: 2rem;
  }
}