.bullet {
  list-style: none;
  display: flex;
  gap: 0.5rem;
  padding-bottom: 0.75rem;
  align-items: center;
  font-style: "Open Sans";
  width: 90%;
  font-weight: 600;
}
.text {
  font-size: 0.8rem;
  font-weight: 400;
  color: #424242;
  line-height: 1rem;
}

@media (max-width: 768px) {
  .text {
    font-size: 0.75rem;
    line-height: 0.8rem;
  }
}

@media (max-width: 425px) {
  .text {
    font-size: 0.9rem;
    line-height: 1.1rem;
    font-weight: 400;
    letter-spacing: 0.5px;
  }
}

@media (max-width: 375px) {
  .bullet {
    margin-left: -1rem;
  }

  .text {
    font-size: 0.85rem;
    line-height: 1.1rem;
  }
}
