.paragraph {
  width: 50%;
  text-align: center;
  font-size: 0.6rem;
  margin-top: -0.5rem;
  margin-left: 3rem;
  color: #39353c;
  line-height: 0.7rem;
}
.paragraph  img{
    width: 15rem;
    height: auto;
}
.paragraph a{
    text-decoration: none;
}