.item{
    display: table-cell;
    font-family: 'Open Sans';
    box-shadow: -2px 6px 44px 18px rgba(0,0,0,0.09);
    border-radius: 16px;
    width: 33%;
    padding: 0.5rem;
}

.name{
    font-weight: 600;
}
.city{
    color:#ccc;
    font-size: 0.75rem;
    padding-bottom: 0.5rem;
}
.stars{
    padding: 0.5rem 0;
}
.image{
    padding-bottom:0.75rem;
}
.image img{
    width:10rem;
    height: 10rem;
}

.comment{
    font-size: 0.9rem;
    line-height: 1.3rem;
    padding: 0.7rem;
}