.program {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
  }
  
  .information{
    
      display: flex;
      justify-content:center;
      align-items: flex-start;
  }
  .data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
  }