.paragraph {
  width: 45%;
  text-align: center;
  font-size: 0.6rem;
  margin-top: -0.5rem;
  margin-left: 3rem;
  color: #39353c;
  line-height: 0.7rem;
  font-family: "Open Sans";
}
.paragraph  img{
    width: 15rem;
    height: auto;
}
.paragraph a{
    text-decoration: none;
}

@media (max-width: 1024px) {
  .paragraph{
    margin-right: -5rem;
  }
}

@media (max-width: 768px) {

  .paragraph{
    width: 60%;
    margin-left: 8rem;
    font-size: 0.5rem;

  }
  .paragraph  img{
width: 12rem;
  }
}

@media (max-width: 425px) {
  .paragraph{
    width: 23rem;
    font-size: 0.8rem;
    line-height: 1rem;
    margin-bottom: 3rem;
  }
  .paragraph  img{
    width: 20rem;
;
      }
}