* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", "Open Sans";
}

body {
  margin: 0;
  padding: 0;
}

@media (max-width: 1024px) {
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
}
@media (max-width: 425px) {
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
}
