.bullet{
    list-style: none;
    display: flex;
    gap: 0.5rem;
    padding-bottom: 0.75rem;
    align-items: center;
   
}
.text{
    font-style: 'Open Sans';
    color: #575555;
    font-weight: 700;
}