.yoga{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2rem;
}

@media (max-width: 768px) {
.yoga{
    margin-top: -1rem;
}

}

@media (max-width: 425px) {
    .yoga{
        flex-direction: column-reverse;
    }
}

