.list{
    display: flex;
    margin:0 0 0.7rem 0; 
    gap:1rem;
    align-items: center;
    justify-content: flex-start;
}

.list img{
    width: 2.5rem;
    height: 2.5rem;
}
.text{
    font-style: "Open Sans";

}
.title{
    font-weight: 600;
    font-size: 0.85rem;
}
.paragraph{
    line-height: 1.3rem;
    font-size: 0.65rem;
    font-style: inherit;
    font-weight: lighter;
    color:#ccc ;
}